@model Data.Domain.Entities.Warehouse

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Warehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-md-4 text-md-right">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 text-md-right">
                    <label asp-for="Description" class="control-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 text-md-right">
                    <label asp-for="Address" class="control-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 text-md-right">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 text-md-right">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div class="col-md-6 text-md-left">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
            
        </form>
    </div>
</div>

